{{^subjects.length}}
	<div class="wrapper">
		<div class="screen">
			<div class="container">
				<div class="icon fa-solid fa-circle-question"></div>
				<div class="title">Nichts gefunden</div>
				<div class="line"></div>
				<div class="info">
					<p>Es wurden keine Vorlesungen abgerufen.</p>
				</div>
				<a class="button" href="/refresh">Aktualisieren</a>
			</div>
		</div>
	</div>
{{/subjects.length}}
{{#subjects.length}}
	<script type="module" src="scripts/client/courses.js"></script>

	<nav>
		<div class="bar container">
			<a class="reset">
				<span class="icon fa-regular fa-trash-can"></span>
				<span>Zurücksetzen</span>
			</a>
			<a class="save">
				<span class="status-active icon fa-solid fa-spin fa-circle-notch"></span>
				<span class="status-idle icon fa-regular fa-floppy-disk"></span>
				<span>Speichern</span>
			</a>
		</div>
	</nav>
	
	<div class="wrapper">
		<div class="dashboard">
			<div style="padding-bottom: 16px; color: #949596; font-size: .7em">
				<div class="container">
					<span class="fa-solid fa-circle-info" style="padding-right:2px"></span>
					<span>Die Kurse der Fakultät A können im SoSe 26 nicht in der App angezeigt werden.</span>
				</div>
			</div>
			<div class="widget">
				<div class="container">
					<h5>Kurse auswählen</h5>
				</div>
				<form class="subjects" method="POST" action="/courses/?submit">
					<div class="container">
						{{#subjects}}
							<div class="item">
								<div class="header">
									<label>
										<input type="checkbox">
										<span class="fa-regular checkbox"></span>
									</label>
									<div class="description">
										<span class="name">{{name}}</span>
										<span class="amount">({{courses.length}})</span>
										<span class="arrow fa-solid"></span>
									</div>
								</div>
								<div class="courses">
									{{#courses}}
										<label>
											<input type="checkbox" name="{{subject}}/{{id}}" value="on" {{#enrolled}}checked{{/enrolled}}>
											<span class="fa-regular checkbox"></span>
											<span>{{title}}</span>
										</label>
									{{/courses}}
								</div>
							</div>
						{{/subjects}}
					</div>
				</form>
			</div>
			
			<div class="note">
				<div class="container">
					<p>Du kannst deine Kurse nicht finden?</p>
					<p><a href="mailto:support@hft-app.de?subject=Fehlende Kurse" title="Fehlende Kurse melden">Hier melden</a></p>
				</div>
			</div>
		</div>
	</div>
{{/subjects.length}}