{{^events.length}}
	<div class="wrapper">
		<div class="screen">
			<div class="container">
				<div class="icon las la-folder-open"></div>
				<div class="title">Nichts gefunden</div>
				<div class="line"></div>
				<div class="info">
					<p>Es wurden keine Termine abgerufen.</p>
				</div>
				<a class="button" href="/refresh">Aktualisieren</a>
			</div>
		</div>
	</div>
{{/events.length}}

{{#events.length}}
	<div class="wrapper">
		<div class="container">
			{{#events}}
				<div class="event">
					<div class="range">{{range}}</div>
					<div class="title">{{title}}</div>
					{{#link}}<a class="link" href="{{.}}" target="_blank">
						<span>mehr anzeigen</span>
						<span class="icon las la-external-link-square-alt"></span>
					</a>{{/link}}
				</div>
			{{/events}}
			<div class="note">
				<div class="container">
					<p>Alle Angaben ohne Gewähr</p>
				</div>
			</div>
		</div>
	</div>
{{/events.length}}
