{{^days.length}}
	<div class="wrapper">
		<div class="screen">
			<div class="container">
				<div class="icon fa-solid fa-circle-question"></div>
				<div class="title">Nichts gefunden</div>
				<div class="line"></div>
				<div class="info">
					<p>Keine Vorlesungen in nächster Zeit.</p>
				</div>
				<a class="button" href="/courses">Zur Kursauswahl</a>
			</div>
		</div>
	</div>
{{/days.length}}
{{#days.length}}
	<div class="wrapper">
		<div class="timetable">
			{{#days}}
				<div class="col">
					<div class="head" onclick="if(confirm('Farben neu mischen?')) document.location='/lectures/?repaint'">
						{{#date}}
							<div class="day">[[date.l.{{w}}]]</div>
							<div class="date">{{j}}. [[date.F.{{n}}]]</div>
						{{/date}}
					</div>
					<table>
						<tbody>
							{{table}}
						</tbody>
					</table>
				</div>
			{{/days}}
		</div>
	</div>
{{/days.length}}