{{^list.length}}
	<div class="wrapper">
		<div class="screen">
			<div class="container">
				<div class="icon fa-solid fa-circle-question"></div>
				<div class="title">Nichts gefunden</div>
				<div class="line"></div>
				<div class="info">
					<p>Es wurden keine Daten abgerufen.</p>
				</div>
				<a class="button" href="/refresh">Aktualisieren</a>
			</div>
		</div>
	</div>
{{/list.length}}
{{#list.length}}
	<div class="wrapper">
		<div class="list">
			<div class="container">
				{{#list}}
					<a class="article display-{{display}}" {{#href}}href="{{.}}"{{/href}} {{#external}}target="_blank"{{/external}}>
						<div class="{{color}} fa-solid fa-{{icon}} strip"></div>
						<div class="text">
							<div class="title">{{title}}</div>
							<div class="description">
								<p>{{description}}</p>
							</div>
						</div>
						{{#href}}<div class="arrow fa-solid fa-chevron-right"></div>{{/href}}
					</a>
				{{/list}}
				<div class="note">
					<p>Version {{version}}</p>
					<p>
						<a href="/launcher/kb/imprint">Impressum</a> &middot;
						<a href="/launcher/kb/privacy">Datenschutz</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{{/list.length}}
	