<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<meta name="google" content="notranslate">
		
		<title>[[page.{{page}}.title]] &ndash; HFT App</title>
		
		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/line-awesome.css">
		
		{{>meta}}
		
		<script src="/scripts/client/lu.min.js" defer></script>
		<script src="/scripts/client/shell.js" defer></script>
		{{#fitBodyHeight}}
			<script type="text/javascript">
				/**
				* Set the body height to window.outerHeight when starting from homescreen.
				* This is very important because 100vh and 100dvh are both too short on Safari but too long on Chrome.
				* But it can be disabled by the user, because Apple messed up the safe area in iOS 26.1 (https://bugs.webkit.org/show_bug.cgi?id=301994).
				* As failsafe, the default is set to be 100svh in CSS.
				*/
				document.addEventListener('DOMContentLoaded', () => {
					if(window.matchMedia('(display-mode: standalone)').matches) document.body.style.height = window.outerHeight+'px';
				});
			</script>
		{{/fitBodyHeight}}
	</head>
	<body>
		<header>
			<div class="container">
				<a class="settings las la-cog" href="/courses"></a>
				<div class="title">[[page.{{page}}.title]]</div>
				<a class="refresh las la-sync" href="/refresh"></a>
			</div>
		</header>
		
		{{! no global wrapper because courses have their own nav }}
		{{#module}} 
			{{>content}}
		{{/module}}
		
		<footer>
			<div class="container">
				{{#tabs}}
					<a href="/{{name}}" {{#active}}class="active"{{/active}}>
						<span class="icon las la-{{icon}}"></span>
						<span class="title">[[page.{{name}}.tab]]</span>
					</a>
				{{/tabs}}
			</div>
		</footer>
	</body>
</html>